<table class="table table-striped">
  <thead>
  <tr>    <th>Model</th>      <th>Worker</th>             <th>Status</th>     <th>Tested</th></tr>
  </thead>
  <tbody>
  <tr>    <td>User</td>       <td>Friedolin</td>          <td>open</td>       <td>no</td></tr>
  </tbody>
</table>