<ul class="nav nav-list">
  <li><%= link("help/api", "API") %></li>
  <li><%= link("help/models", "Models") %></li>
  <li><%= link("help/views", "Views") %></li>
  <li><%= link("help/presenters", "Presenters") %></li>
</ul>