<table class="table table-striped">
  <thead>
  <tr>      <th>Presenter</th>  <th>Action</th>     <th>Worker</th>             <th>Status</th>     <th>Tested</th></tr>
  </thead>
  <tbody>
    <tr>    <td>search</td>     <td>all</td>        <td>Friedolin</td>          <td>open</td>       <td>no</td></tr>
    <tr>    <td>search</td>     <td>user</td>       <td>Friedolin</td>          <td>open</td>       <td>no</td></tr>
    <tr>    <td>search</td>     <td>projects</td>   <td>Friedolin</td>          <td>open</td>       <td>no</td></tr>
  </tbody>
</table>