<%= view("help", "views_development") %>
<ul class="nav nav-list">
  <li><%= link("help/views/helper", "Helper functions") %></li>
  <li><%= link("help/views/templates", "Templates") %></li>
  <li><%= link("help/views/development", "Development") %></li>
</ul>

