<table class="table table-striped">
  <thead>
  <tr>    <th>Presenter</th>  <th>View</th>       <th>url</th>                                         <th>Worker</th>             <th>Status</th>     <th>Tested</th></tr>
  </thead>
  <tbody>
  <tr>    <td>user</td>       <td>add</td>        <td>register</td>                                    <td>Simone</td>             <td>open</td>       <td>no</td></tr>
  <tr>    <td>user</td>       <td>edit</td>       <td>user/:username/edit</td>                         <td>Simone</td>             <td>open</td>       <td>no</td></tr>
  <tr>    <td>project</td>    <td>add</td>        <td>projects/add</td>                                <td>Alex</td>               <td>open</td>       <td>no</td></tr>
  <tr>    <td>project</td>    <td>edit</td>       <td>projects/:projectname/add</td>                   <td>Alex</td>               <td>open</td>       <td>no</td></tr>
  <tr>    <td>request</td>    <td>join</td>       <td>user/:username/join/:projectname</td>            <td>Willi</td>              <td>open</td>       <td>no</td></tr>
  <tr>    <td>request</td>    <td>invite</td>     <td>project/:projectname/invite/:username</td>       <td>Willi</td>              <td>open</td>       <td>no</td></tr>
  </tbody>
</table>