<table class="table table-striped">
  <thead>
  <tr>
    <th>Key</th>
    <th>Value</th>
  </tr>
  </thead>
  <tbody>
  <% keys.each do |key| %>
      <tr>
        <td><%= key %></td>
        <td><%= @locals[key] %></td>
      </tr>
  <% end %>
  </tbody>
</table>