<div class="join-project">
    <div class="row-fluid">
      <div class="span4">
        <h3>User</h3>
        <div class="well well-large">
            <img src="/less/images/user-icon.png" width="206.75px" height="350px">
            <p class="lead"><%= username %></p>
        </div>
      </div>
      <div class="middle span2">
          <input type="button" class="btn btn-primary btn-join" value="beitreten">
      </div>
      <div class="span4">
        <h3>Projekt</h3>
        <div class="well well-large">
            <img src="/less/images/project-icon.png" width="206.75px" height="350px">
            <p class="lead"><%= projectname %></p>
        </div>
      </div>
    </div>
</div>