
<p class="gap50">gap50</p><p class="gap50">gap50 (left & top)</p>
--------------------------------------------
<p class="gap150">gap150</p><p class="gap150">gap150 (150left & 10top)</p>
--------------------------------------------
<div class="gap50-left">gap50-left</div><div class="gap50-left">gap50-left</div>
---------------------------
 <p class="gap10-top">gap10-top</p><p class="gap10-top">gap10-top</p>
