<ul class="media-list">
  <% items.each do |item|
    user = item[:item]
  %>
      <li class="media"><%= view("user", "list_item", user.attributes.merge({projects: user.projects, imageUrl: user.image.url(:medium), "username" => item[:username], "about" => item[:about]})) %></li>
  <% end %>
</ul>
<%= view("template", "pager", {current: page, count: page_count, url: "search/users"}) %>