.controls .ui-slider {
  display: inline-block;
  margin-top: 8px;
}

.controls .ui-slider-text {
  display: inline-block;
  margin-left: 10px;
  line-height: 30px;
  min-width: 25px;
}

.controls .skills-list {
  list-style: none;
  margin: 0;
  li {
    margin-top: 8px;
  }
  input, div, span, select {
    margin-right: 6px;
  }
}

.ajax-load {
  width: 43px;
  height: 11px;
  background: url(images/ajax-loader.gif) no-repeat;
  margin: 20px;
}