.join-project .well{
  border: 1px solid #919191;
  background-color: white;
  text-align: center;
}
.join-project div.middle{
  margin-top: 210px;
}
.join-project .btn-join{
  width: 100%;
}

.join-project p.lead{
  margin-bottom: 0;
}