<ul class="media-list">
  <% projects.each do |project| %>
      <li class="media"><%= view("project", "list_item", project.attributes.merge({users: project.users, imageUrl: project.image.url(:medium)})) %></li>
  <% end %>
</ul>
<%= view("template", "pager", {current: page, count: page_count, url: "projects"}) %>
