<%= keys %>


<form id="user-add-form" class="form-horizontal" method="post" action="/user" data-href="/login">
  <div class="row">

    <div class="control-group">
      <label class="control-label" for="username">Username<abbr title="required">*</abbr></label>

      <div class="controls">
        <input type="text" class="input-xlarge" placeholder="Username" name="username">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="mail">Email<abbr title="required">*</abbr></label>

      <div class="controls">
        <input type="text" class="input-xlarge" placeholder="Email" name="mail">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="password">Password<abbr title="required">*</abbr></label>

      <div class="controls">
        <input id="password" type="password" class="input-xlarge" placeholder="Password" name="password">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="confirm_password">Confirm Password<abbr title="required">*</abbr></label>

      <div class="controls">
        <input type="password" class="input-xlarge" placeholder="Confirm Password" name="confirm_password">
      </div>
    </div>


    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-large btn-success" id="register-btn">Sign Up</button>
      </div>
    </div>
  </div>
</form>
<script>
    $().ready(function(){
        $("#user-add-form").validate({
            rules: {
                username: {
                    required: true,
                    minlength: 2
                },
                mail:{
                    required: true,
                    email: true
                },
                password: {
                    required: true,
                    minlength: 6
                },
                confirm_password:{
                    required: true,
                    minlength: 6,
                    equalTo: "#password"
                }
            },
            messages: {
                username:{
                    required: "Username wird benötigt",
                    minlength: "Username muss mindestens 4 Zeichen lang sein"
                },
                mail:{
                    required: "Mail wird benötigt",
                    email: "Bitte korrekte E-Mail Adresse angeben"
                },
                password:{
                    required: "Passwort wird benötigt",
                    minlength: "Passwort muss mindestens 6 Zeichen lang sein"
                },
                confirm_password:{
                    required: "Passwort bitte erneut eingeben",
                    minlength: "Passwort muss mindestens 6 Zeichen lang sein",
                    equalTo: "Passwörter müssen gleich sein"
                }
            }
        });
       $("#register-btn").click(function(){
           if($("#user-add-form").valid()){
                $("#user-add-form").submit();
           }
           else{
                $("#user-add-form").showErrors();
           }
       });
    });

</script>
<% js "/bootstrap/plugins/datepicker/js/bootstrap-datepicker",
      "user/add"
%>