<!--%= keys %-->


<form id="user-add-form" class="form-horizontal" method="post" action="/user" data-href="/login">

  <fieldset>
    <%= view("template", "textbox", {title: "Username",input_tags: {class: "input-xlarge"}, required: true, add_after: '<i class="icon-user"></i>'}) %>
    <%= view("template", "textbox", {title: "Email", name: "mail", input_tags: {class: "input-xlarge"}, required: true, add_after: '<i class="icon-envelope"></i>'}) %>
    <%= view("template", "textbox", {title: "Password", name: "password", input_tags: {class: "input-xlarge"},required: true, type: "password"}) %>
    <%= view("template", "textbox", {title: "Confirm Password", name: "confirm_password", input_tags: {class: "input-xlarge"},required: true, type: "password"}) %>
  </fieldset>

  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-large btn-success" id="register-btn">Sign Up</button>
    </div>
  </div>

</form>

<% js "/bootstrap/plugins/datepicker/js/bootstrap-datepicker",
      "user/add"
%>