<!--%= keys %-->


<form id="user-add-form" class="form-horizontal" method="post" action="/user" data-href="/login">

  <fieldset>
    <%= view("template", "textbox", {title: "Username",input_tags: {class: "input-xlarge"}, required: true, add_after: '<i class="icon-user"></i>'}) %>
    <%= view("template", "textbox", {title: "Email", name: "mail", input_tags: {class: "input-xlarge"}, required: true, add_after: '<i class="icon-envelope"></i>'}) %>
    <%= view("template", "textbox", {title: "Password", name: "password", input_tags: {class: "input-xlarge"},required: true, type: "password"}) %>
    <%= view("template", "textbox", {title: "Confirm Password", name: "confirm_password", input_tags: {class: "input-xlarge"},required: true, type: "password"}) %>
  </fieldset>

  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-large btn-success" id="register-btn">Sign Up</button>
    </div>
  </div>

</form>
<script>
    $().ready(function(){

        $.validator.addMethod("validateUsername", function()
        {
            var inputElem = $('#user-add-form :input[name="username"]'),
                    data = { "username" : inputElem.val() }

            $.ajax(
                    {
                        type: "GET",
                        url: "users/validate",
                        dataType: "json",
                        data: data,
                        async: false,
                        success: function(data)
                        {
                            if(data["errors"]["url"] != null){
                               return false;
                            }else{
                                return true;
                            }
                        },
                        error: function(xhr, textStatus, errorThrown)
                        {
                            return false;
                        }
                    });
        }, 'Username has already been taken.');

        $("#user-add-form").validate({
            rules: {
                username: {
                    required: true,
                    minlength: 4,
                    validateUsername: true
                },
                mail:{
                    required: true,
                    email: true
                },
                password: {
                    required: true,
                    minlength: 6
                },
                confirm_password:{
                    required: true,
                    minlength: 6,
                    equalTo: "input[name=password]"
                }
            },
            messages: {
                username:{
                    required: "Username is required",
                    minlength: "Username must be at least 4 characters long"
                },
                mail:{
                    required: "Email is required",
                    email: "Please enter a valid Email"
                },
                password:{
                    required: "Password is required",
                    minlength: "Password must be at least 6 characters long"
                },
                confirm_password:{
                    required: "Confirm your password",
                    minlength: "Password must be at least 6 characters long",
                    equalTo: "Passwords must be the same"
                }
            }
        });
    });

</script>
<% js "/bootstrap/plugins/datepicker/js/bootstrap-datepicker",
      "user/add"
%>