<!--%= keys %-->


<form id="user-add-form" class="form-horizontal" method="post" action="/user" data-href="/login">

  <fieldset>
    <%= view("template", "textbox", {title: "Username",input_tags: {class: "input-xlarge"}, required: true, add_after: '<i class="icon-user"></i>'}) %>
    <%= view("template", "textbox", {title: "Email", name: "mail", input_tags: {class: "input-xlarge"}, required: true, add_after: '<i class="icon-envelope"></i>'}) %>
    <%= view("template", "textbox", {title: "Password", name: "password", input_tags: {class: "input-xlarge"},required: true, type: "password"}) %>
    <%= view("template", "textbox", {title: "Confirm Password", name: "confirm_password", input_tags: {class: "input-xlarge"},required: true, type: "password"}) %>
  </fieldset>

  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-large btn-success" id="register-btn">Sign Up</button>
    </div>
  </div>

</form>
<script>
    $().ready(function(){
        $("#user-add-form").validate({
            rules: {
                username: {
                    required: true,
                    minlength: 2
                },
                mail:{
                    required: true,
                    email: true
                },
                password: {
                    required: true,
                    minlength: 6
                },
                confirm_password:{
                    required: true,
                    minlength: 6,
                    equalTo: "input[name=password]"
                }
            },
            messages: {
                username:{
                    required: "Username wird benötigt",
                    minlength: "Username muss mindestens 4 Zeichen lang sein"
                },
                mail:{
                    required: "Mail wird benötigt",
                    email: "Bitte korrekte E-Mail Adresse angeben"
                },
                password:{
                    required: "Passwort wird benötigt",
                    minlength: "Passwort muss mindestens 6 Zeichen lang sein"
                },
                confirm_password:{
                    required: "Passwort bitte erneut eingeben",
                    minlength: "Passwort muss mindestens 6 Zeichen lang sein",
                    equalTo: "Passwörter müssen gleich sein"
                }
            }
        });
    });

</script>
<% js "/bootstrap/plugins/datepicker/js/bootstrap-datepicker",
      "user/add"
%>