<%= link("user/#{user.url}", "<img src='#{user.image.url(:medium)}' />", "pull-left thumbnail") %>
<div class="media-body">
  <h4><%= link("user/#{user.url}", "#{user.username}", "media-heading") %></h4>
  <%= user.about %>
</div>