<%#
required
 username
 projects
 %>
<%= link("user/#{url}", "<img src='#{imageUrl}' />", "pull-left thumbnail") %>
<div class="media-body">
  <h3><%= link("user/#{url}", username, "media-heading") %></h3>
  <%= value("about", "<i>There is no further information about #{username}</i>") %>
</div>
