<form id="login-form" class="form-horizontal" align="left">
  <div class="row">

    <div class="control-group">
      <label class="control-label" for="username">Username</label>

      <div class="controls">
        <input type="text" placeholder="Username" name="username">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="password">Password</label>

      <div class="controls">
        <input type="password" placeholder="Password" name="password">
      </div>
    </div>

  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-large btn-success" id="login-btn">Login</button>
    </div>
  </div>
  </div>
</form>
