<form id="login-form" class="form-horizontal" align="left" method="post" action="/login" data-href="/">


  <fieldset>

    <%= view("template", "textbox", {title: "Username", input_tags: {class: "input-xlarge"} }) %>
    <%= view("template", "textbox", {title: "Password", name: "password", input_tags: {class: "input-xlarge"}, type: "password"}) %>

    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-large btn-success" id="login-btn">Login</button>
      </div>
    </div>


  </fieldset>
</form>
<script>
   $().ready(function(){
      $("#login-form").validate({
          rules: {
               username: "required",
               password: "required"
          },
          messages: {
               username: "Username wird benötigt",
               password:"Passwort wird benötigt"
          }
      });

   });

</script>
<script>
    pSquared.success = function (data) {
        pSquared.session = data.session
    };
</script>
