<!doctype html>
<html>
    <head>
      <meta charset='utf-8'>
      <title><%= title %></title>
      <%= css "style" %>
    </head>
    <body>
      <%= yield %>
      <%= js "/skript" %>
    </body>
</html>