<%#
required
 title    (string)  The title of the label
optional
 name     (string)  The for attribute
 required (boolean) required flag
 %>
<label class="control-label" for="<%= value(:name, title.downcase) %>"><%= title %><%= value(:required, false) ? "<abbr title='required'>*</abbr>" : "" %></label>